* {
    font-family: monospace;
}

body {
    margin: 0 auto ;
    padding: 100px;
}


.container {
    background-color: aqua;
    border: 12px solid black;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    display: flex;
    flex-direction: reverse;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;

}

.balloon {
    margin: 50px;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
    .container {
        flex-direction: column-reverse;
    }
    body {
        padding: 8px;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    h1 {
        font-size: 35px;
    }
    .container {
        flex-direction: column-reverse;
    }
    body {
        padding: 50px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1300px) {
    h1 {
        font-size: 45px;
    }
    .container {
        flex-direction: column-reverse;
    }
    body {
        padding: 75px;
    }
}